<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.2.1.ee"/>
<stringAttribute key="mule-agent-port" value="63711"/>
<listAttribute key="mule-project-names">
<listEntry value="training4-american-ws-wt4.6"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="training4-american-ws-wt4.6"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking"/>
</launchConfiguration>
