#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/33862289-022f-4c75-99bc-503d373944b1/ # 
version: v1
title: American Flight API

types: 
  AmericanFlight: !include /exchange_modules/68ef9520-24e9-4cf2-b2f5-620025690913/training-american-flight-data-type/1.0.1/AmericanFlightDataType.raml
/flights:
  get:
    queryParameters:
      destination:
        required: false
        enum:
          - SFU
          - LAX
          - CLE
    responses:
      200:
        body:
          application/json:
            type: AmericanFlight[]
            example: !include /exchange_modules/68ef9520-24e9-4cf2-b2f5-620025690913/training-american-flights-example/1.0.1/AmericanFlightsExample.raml
  /{ID}:
    get:
      responses:
        200: 
          body:
            application/json:
              type: AmericanFlight
              example: !include examples/AmericanFlightExample.raml
    delete:
      responses:
        200:
          body:
            application/json:
              example:
                message: Flight deleted (but not really)
    put:
      body:
        application/json:
          type: AmericanFlight
          example: !include examples/AmericanFlightExample.raml
      responses:
        200:
          body:
            application/json:
              example:
                message: Flight updated (but not really)            


  post:
    body:
      application/json:
        type: AmericanFlight
        example: !include examples/NoIDAmericanFlightExample.raml
          
    responses:
      200:
        body:
          application/json:
            example:
              message: "Added new flight"
      400:
        body:
          application/json:
            example:
              output:
                message: "Bad syntax"
            