#%RAML 1.0
version: 1
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/e8ee0093-b5dc-45b5-bab2-fcbd319a004e/ # 
title: Accounts API

types: 
  Account: !include  AccountDataType.raml
/accounts:
  get:
    description: Retrieve accounts from db. "Requester-ID" header is required. "type" query parameter is required. "name" and country query parameters are optional
    headers:
      Requester-ID:
        required: true
    queryParameters:
      type:
        required: true
        enum:
            - personal
            - business
      name:
        required: false
        type: string
      country:
        required: false
        type: string
    responses:
      200:
        body:
          application/json:
            type: Account[]
            example: !include Examples/getAccountsArrayExample.raml
      400:
        body:
          application/json:
            example:
              message: "Could not retreive Accounts."
              
  post:
    description: Add a new Account to the db
    headers:
      Requester-ID:
        required: true
    body:
      application/json:
        type: Account[]
        example: !include Examples/AccountsArrayExample.raml

    responses:
      200:
        body:
          application/json:
            example:
              message: "Account created (but not really)"
      400:
        body:
          application/json:
            example:
              message: "Failed to create Account."
          
    
  /{ID}:
    get:
      description: Get account from the db
      queryParameters:
        type:
          required: false
          enum:
            - personal
            - business         
      responses:
        200:
          body:
            application/json:
              example: !include Examples/AccountExample.raml
        400:  
          body:
            application/json:
              example:
                message: "No Account found"
    put:
      description: replace account in db
      queryParameters:
        type:
          required: false
          enum:
            - personal
            - business
      responses:
        200:
          body:
            application/json:
              example:
                message: "account replaced (but not really)"
        400:
          body:
            application/json:
              example:
                message: "failed to replace account"     
    patch:
      description: Modify account in db
      queryParameters:
        type:
          required: false
          enum:
            - personal
            - business
      responses:
        200:
          body:
            application/json:
              example:
                message: "account modified (but not really)" 
        400:
          body:
            application/json:
              example:
                message: "failed to modify account"     
    delete:
      description: Remove account from db
      queryParameters:
        type:
          required: false
          enum:
            - personal
            - business   
      responses:
        200:
          body:
            application/json:
              example:
                message: "account deleted (but not really)"
        400:
          body:
            application/json:
              example:
                message: "failed to delete account"  
      